@keyframes dot-animation {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.animate-dot1 {
  animation: dot-animation 1.4s infinite;
  animation-delay: 0s;
}

.animate-dot2 {
  animation: dot-animation 1.4s infinite;
  animation-delay: 0.2s;
}

.animate-dot3 {
  animation: dot-animation 1.4s infinite;
  animation-delay: 0.4s;
}
